<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 
  }
=======
>>>>>>> e817459db072b3b06eb3e75be38d1515c56e7773

/*
 * Estilos de tu proyecto
 */

 /*Reseteando css */

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
 }

.text-uppercase {
    text-transform: uppercase;
}

 header {
     background-color: #2f2a44;
     position: fixed;
     width: 100%;
     height: 120px;
     top: 0;
     overflow: hidden;
     z-index: 1000;
 }

 div.logo img {
     width: 70px;
     float: left;
     margin-left: 80px;;
     margin-top: 30px;
 }


 .menu {
    float: right;
    line-height: 120px;
    list-style: none;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;   
}

nav.menu ul li {
    display: inline;
    color: #fff;
    margin-right: 35px;
    font-size: 20px;
}

nav.menu ul li#log-in {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 10px;
}

nav.menu ul li:hover {
    color: #ff00bf;
    cursor: pointer;
}

nav.menu ul li#log-in:hover {
    background-color: #fff;
    color: #ff00bf;
}
/*------------------------------------------*/
.container{
    background-image: url("../assets/images/hero.gif");
    width: 100%;
    margin-top: 120px;
    height: 847px;
    background-size: cover;
    
    
}
.box{
    margin-left: 925px;
    background-color: white;
    height: 422px;
    padding: 40px;
    display: block;
}
.container .box h3{
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 45px;
    font-weight:700;
    color: #352384;
    text-transform:uppercase;/*Transformamos el texto a mayuscula*/
    
}
.container .box h4{
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight:700;
    color: #35238465;
    text-transform:uppercase;/*Transformamos el texto a mayuscula*/
    padding: 10px;
}
input[type=text], select {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 15px;
    border: none;
    
   /* font-family: 'Lato', sans-serif;*/
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    outline-style: none;
    border-bottom: 2px solid #ddd;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
  }

.container .box .button{
    background-color:#ff00bf;
    border-color:none;
    border-radius: 5px;/*Borde radial del boton*/   
    cursor: pointer;
    float: left; 
    color: white;
    font-size:20px;
    font-weight:700;
    margin-top:50px;
    padding: 15px 20px;
    text-decoration: none;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: block;
}

.row{
    text-decoration: none;
    font-size: 10px;
    color: #ff00bf;
    

}
.row:hover, .sign:hover{
   
    color: #c71a5c;
}
.box span{
    font-size: 10px;
}
.box1{
    color: white;
    line-height: 60px;
    font-weight: bold;
}

.titles h2{
    
    
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.titles{
    margin-left: 177px;
}
/*
.images{
    width: 30%;
}
*/


/*Segunda sección*/
.second-section {
width: 100%;
}

div.watch, div.good-thing {
    margin-left: 50px;
}

div.june div.text-uppercase, p.june{
    margin-right: 50px;
    position: relative;
    left: 1000px;

}

div.watch div h4, div.june div h4, div.good-thing div h4 {
    font-size: 15px;
    display: inline-block;
}


div.watch div h2, div.june div h2, div.good-thing div h2 {
font-size: 30px;
display: inline-block;
}


div.watch div p, div.june div p, div.good-thing div p {
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
    padding-top: 30px;
    width: 20%;
}

div.watch-text {
    margin-top: 100px;
    display: inline-block;
}

div.video {
    display: inline;
    position: relative;
    left: 500px;
    bottom: 160px;
}

div.video-june {
    display: inline;
    position: relative;
    bottom: 345px;
}

div.video.good-thing {
    position: relative;
    bottom: 480px;
}

/*footer */

footer {
    width: 100%;
    background-color: #333447;
    color: #fff;
}

footer div.content {
    width: 80%;
}